* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

:root {
    --fonte-principal: 'Ubuntu', sans-serif;
    --background-dark: #060607;
}

body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section.inputs {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

label button {
    width: 50%;
    height: 100%;
}

#date {
    width: 20em;
    height: 50px;
    text-align: center;
    font-size: 1em;
    border-radius: 3px;
    border: none;
    border-bottom: 3px solid #f75d5b;
    cursor: pointer;
    transition: 1s;
}

#date:focus {
    background-color: #f75d5b;
}

button {
    width: 100px;
    height: 55px;
    border: 2px solid #f75d5b;
    border-radius: 3px;
    background-color: #f75d5b;
    cursor: pointer;
}

section.info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 30%;
    width: 100%;
    text-align: center;
    margin-top: -10%;
}

footer {
    width: 100%;
    height: calc(100% - 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

footer a {
    text-decoration: none;
    color: #f75d5b;
}

footer a:hover {
    text-decoration: underline;
}

body.dark {
    background-color: var(--background-dark);
    color: #f0f8ff;
}

body.dark #date {
    background-color: var(--background-dark);
    color: #f0f8ff;
    border-bottom: 3px solid #359dfc;
}

body.dark #date:focus {
    transition: 1s;
    background-color: #359dfc;
}

body.dark button {
    background-color: #359dfc;
    border: 2px solid #359dfc;
}

body.dark footer a {
    color: #359dfc;
    transition: 1s ;
} 